<h1>Effacer un utilisateur</h1>
<div ng-form='formDel' class ='fe' ng-controller='DelCtrl as Del'>
  <div class="form-group">
      <label for="firstname">Prénom</label>
      <div type="text" class="form-control">{{Del.user.firstname}}</div>
    </div>
    <div class="form-group">
      <label for="lastname">Nom de famille</label>
      <div type="text" class="form-control">{{Del.user.lastname}}</div>
    </div>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <div type="text" class="form-control">{{Del.user.username}}</div>
    </div>
    <a type="button" ng-click='deleteUser()' class="decal btn btn-success">
      <span class='glyphicon glyphicon-ok' aria-hidden='true' title='Valider'></span>
    </a>
    <a type="button" ui-sref='list' class="btn btn-danger">
      <span class='glyphicon glyphicon-stop' aria-hidden='true' title='Annuler'></span>
    </a>
</div>