<h1>Modifier les informations de l'utilisateur</h1>
<div ng-form='formMod' class='fm' ng-controller='EditCtrl as Edit'>
	<div class="form-group">
   		<label for="firstname">Prénom</label>
    	<input type="text" class="form-control" ng-model='Edit.user.firstname'>
  	</div>
  	<div class="form-group">
  	  <label for="lastname">Nom de famille</label>
  	  <input type="text" class="form-control" ng-model='Edit.user.lastname'>
  	</div>
  	<div class="form-group">
  	  <label for="username">Nom d'utilisateur</label>
  	  <input type="text" class="form-control" ng-model='Edit.user.username'>
  	</div>
  	<div class="form-group">
  	  <label for="password">Mot de passe</label>
  	  <input type="password" class="form-control" ng-model='Edit.user.password' id="uPass">
  	</div>
  	
  	<a type="button" ui-sref='list' ng-click='SaveMod()' class="decal btn btn-success">
  		<span class='glyphicon glyphicon-ok' aria-hidden='true' title='Valider'></span>
  	</a>
  	<a type="button" ui-sref='list' class="btn btn-danger">
  		<span class='glyphicon glyphicon-stop' aria-hidden='true' title='Annuler'></span>
  	</a>
</div>